<!DOCTYPE html>
<html>
    <head lang="en">
        {% load static %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dilara Sarach: Symbols</title>
        <link rel="icon" href="{% static 'img/logo.svg' %}" />
        <link rel="stylesheet" href="{% static 'css/symbolsstyle.css'%}"/>
        <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;800&family=Signika&family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <section id="logo" username={{ username }} password={{ password }}>
                <img
                {% if username == 'alnatura' %}
                    src="{% static 'img/logo_alnatura2.svg' %}"
                {% elif username == 'lex' and password == 'love&AI' %}
                    src="{% static 'img/logo_lex.svg' %}"
                {% else  %}
                    src="{% static 'img/logo.svg' %}"
                {% endif %}
                alt="Logo"
                id="logo_classic"
                class="opaque"
                draggable="false"
                onmousedown="return false"
                style="user-drag: none;"
                />
            </section>
        </header>
        <main id="main">
            <div class="nav">
                <!-- We will be accessing the data-clr in JavaScript -->
                <button id="viewing-mode" class="viewing-mode clicked">viewing mode</button>
                <button class="drawing-mode">drawing mode</button>
                <button class="edit-associations-mode">edit-associations mode</button>
                <form id="form">
                    <input type="date" id="input-date" name="input-date" value="" onchange="countClicks()">
                </form>
            </div>
            <button id="X-button">X</button>
            <button id="save-button">Save</button>
            <button id="date-shower">"2022-11-20"</button>
            <div id="association-shower">
                <div id="association-top">
                    <h3>"2022-11-21"</h3>
                    <button id="association-X-button">X</button>
                </div>
                <div id="association-files"><p>Files (images, audio, etc.)</p></div>
                <div id="association-videos"><p>Videos</p></div>
                <div id="association-text">
                    <p>Text</p>
                    <div></div>
                </div>
            </div>
            <section id="toolkit">
                <div id="info" class="clr"><p>i</p></div>
                <div class="clr" data-clr="#000"></div>
                <div class="clr" data-clr="#EF626C"></div>
                <div class="clr" data-clr="#fdec03"></div>
                <div class="clr" data-clr="#24d102"></div>
                <div class="clr" data-clr="#fff"></div>
                <span id="color-picker"></span>
                <input type='color' value='#fefefe' class='bar' id='color'>
                
            </section>
            <canvas id="canvas"  data-url="/update/" data-url-temple="/temple/"></canvas>
            <svg class="svg" height="210" width="400">
            {% for key,value in entries.items %}
                {% for path in value %}
                <path d="M{{ path.0 }} {{ path.1 }} {{ path.2 }} {{ path.3 }}" style="fill:{{ key.0 }};stroke:{{ key.0 }};stroke-width:5" class="svg-path highlighted" date={{ key.1|date:'Y-m-d' }} onmouseover="unhighlightAllButEntry(this)" onmouseout="highlightAll()" onclick="showAssociations(this)"/>
                {% endfor %}
            {% endfor %}
            </svg>
        </main>
        <footer>
        </footer>
        <script src="{% static 'js/symbolsscript.js' %}"></script>
    </body>
</html>
