<!DOCTYPE html>
<html>
    <head lang="en">
        {% load static %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dilara Sarach: Symbols</title>
        <link rel="icon" href="{% static 'img/logo.ico' %}" />
        <link rel="stylesheet" href="{% static 'css/symbolsstyle.css'%}"/>
        <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;800&family=Signika&family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <section id="logo" username={{ username }} password={{ password }}>
                <img
                {% if username == 'alnatura' %}
                    src="{% static 'img/logo_alnatura2.svg' %}"
                {% elif username == 'lex' and password == 'love&AI' %}
                    src="{% static 'img/logo_lex.svg' %}"
                {% elif username == 'rewedigital' and password == 'homeofIT' %}
                    src="{% static 'img/logo_rewedigital2.svg' %}"
                {% elif username == 'klarna' and password == 'smoooth' %}
                    src="{% static 'img/logo_klarna.svg' %}"
                {% elif username == 'scoop' and password == 'pragmatic' %}
                    src="{% static 'img/logo_scoop.svg' %}"
                {% else  %}
                    src="{% static 'img/logo.svg' %}"
                {% endif %}
                alt="Logo"
                id="logo_admin"
                class="opaque"
                draggable="false"
                onmousedown="return false"
                style="user-drag: none;"
                />
            </section>
        </header>
        <section class="mobile-version">
            <section id="text">
              <p id="mobile-greeting" class="centered bold">Hello
                {% if username == 'alnatura' %}
                    Alnatura!
                {% elif username == 'lex' and password == 'love&AI' %}
                    Lex!
                {% elif username == 'rewedigital' and password == 'homeofIT' %}
                    REWE Digital!
                {% else  %}
                    world!
                {% endif %}
              </p>
              <p>
                The mobile version of my website is getting built as you're reading this!
                I want to give it its own design and interesting features, and not simply make it a mini-replica of the main version.
                For now, enjoy this page on screens with width > 700px and height > 450px. </p>
              <p class="centered">Last update was on: 28.12.2022</p>
            </section>
        </section>
        <main id="main">
            <div class="nav">
                <!-- We will be accessing the data-clr in JavaScript -->
                <button id="viewing-mode" class="viewing-mode clicked">viewing mode</button>
                <button class="drawing-mode">drawing mode</button>
                <form id="form">
                    <input type="date" id="input-date" name="input-date" value="" onchange="countClicks()">
                </form>
            </div>
            <button id="save-button">Save</button>
            <button id="date-shower">"2022-11-20"</button>
            <div id="association-shower">
                <h3>2022-11-21</h3>
                <div id="association-content">
                    <div id="association-text">
                        <div id="text"></div>
                    </div>
                    <div id="association-media">
                        <div id="association-files">
                            <div id="files"></div>
                        </div>
                        <div id="association-videos">
                            <div id="videos"></div>
                        </div>
                    </div>
                </div>
                <div class="two-buttons">
                    <button class="edit-associations-mode" onClick="">Edit associations</button>
                    <button id="association-X-button">Close</button>
                </div>
            </div>
            <div id="edit-associations">
                <h3>2022-11-21</h3>
                <div id="edit-content">
                    <div id="edit-text">
                        <textarea id="edit-textarea"></textarea>
                    </div>
                    <div id="edit-media">
                        <div id="edit-files">
                            <input type="text" id="edit-image">
                            <div id="add-files"></div>
                        </div>
                        <div id="edit-videos">
                            <input type="text" id="edit-video">
                            <div id="add-videos"></div>
                        </div>
                    </div>
                </div>
                <div class="two-buttons">
                    <button id="edit-save-button" onclick="saveAssociations()">Save</button>
                    <button id="edit-X-button" onclick="hideEditAssociations()">Close</button>
                </div>
            </div>
            <section id="toolkit" class="toolkit-frozen">
                <div id="info" onclick="showInfo()"><p>?</p></div>
                <div class="clr clr-faded" data-clr="#000"></div>
                <div class="clr clr-faded" data-clr="#EF626C"></div>
                <div class="clr clr-faded" data-clr="#fdec03"></div>
                <div class="clr clr-faded" data-clr="#24d102"></div>
                <div class="clr clr-faded" data-clr="#fff"></div>
                <span id="color-picker" class="clr clr-faded"></span>
                <input type='color' value='#fefefe' class='bar' id='color'> 
            </section>
            <section id="info-section" class="hidden">
                <p class="bolder-p">
                    How to use this <span class="bold">drawing tool</span>: <br> <br>

                    If your day was a shape and a color, what would it be? <br> <br>

                    Click "drawing mode", pick a color, and draw a symbol to immortalize the feeling of today (or any other day,
                    use the calendar input to choose). You can also just leave a little dot if you don't feel like coming up
                    with a symbol - the app just needs something drawn to document a day. Click "save"! <br> <br>

                    Once you're done drawing, you can switch back to 'viewing mode'. Here, you can click on any drawing and add memories
                    from the day by clicking "edit associations" at the bottom. You can describe the day in writing on the left. On the right, you can add images 
                    (hosted on https://imgbb.com/) and videos/music (from YouTube) via their links - simply separate the different links with a single space character.
                    Save and close - your memories now exist externally from you! <br> <br>

                    <span class="bold">If you haven't logged in with a username & password that I have given to you, you won't be able to actually save anything. </span>
                </p>
                <button id="info-section-X-button" onclick="hideInfo()"><p>CLOSE</p></button>
            </section>
            <canvas id="canvas"  data-url="/update/" data-url-temple="/temple/" get-associations-url="/get_associations/"></canvas>
            <svg class="svg" height="210" width="400">
            {% for key,value in entries.items %}
                {% for path in value %}
                <path d="M{{ path.0 }} {{ path.1 }} {{ path.2 }} {{ path.3 }}" style="fill:{{ key.0 }};stroke:{{ key.0 }};stroke-width:5" class="svg-path highlighted" date={{ key.1|date:'Y-m-d' }} onmouseover="unhighlightAllButEntry(this)" onmouseout="highlightAll()" onclick="showAssociations(this)"/>
                {% endfor %}
            {% endfor %}
            </svg>
        </main>
        <footer>
        </footer>
        <script src="{% static 'js/symbolsscript.js' %}"></script>
    </body>
</html>
