<!DOCTYPE html>
<html>
    <head lang="en">
        {% load static %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dilara Sarach: Casino Vitamins</title>
        <link rel="icon" href="{% static 'img/logo.svg' %}" />
        <link rel="stylesheet" href="{% static 'css/vitaminsstyle.css'%}"/>
    </head>
    <body>
        <header>
            <section id="logo">
                <img
                alt="Logo"
                id="logo_classic"
                class="opaque"
                draggable="false"
                onmousedown="return false"
                style="user-drag: none;"
                />
                <img
                alt="Logo"
                id="logo_alnatura2"
                class="transparent"
                draggable="false"
                onmousedown="return false"
                style="user-drag: none;"
                />
            </section>
            <section id="disclaimer">
                <p>This is no medical advice! Use for fun and when you're out of ideas on what to cook.</p>
            </section>
        </header>
        <main>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt amet rem quidem ullam rerum suscipit labore autem voluptatibus? Laboriosam, possimus?</p>
        </main>
        <footer>
        </footer>
    </body>
</html>