<!DOCTYPE html>
<html>
    <head lang="en">
        {% load static %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dilara Sarach: Casino Vitamins</title>
        <link rel="icon" href="{% static 'img/logo.svg' %}" />
        <link rel="stylesheet" href="{% static 'css/vitaminsstyle.css'%}"/>
        <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;800&family=Signika&family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <section id="logo">
                <img
                src="{% static 'img/logo.svg' %}"
                alt="Logo"
                id="logo_classic"
                class="opaque"
                draggable="false"
                onmousedown="return false"
                style="user-drag: none;"
                />
                <img
                src="{% static 'img/logo_alnatura2.svg' %}"
                alt="Logo"
                id="logo_alnatura2"
                class="transparent"
                draggable="false"
                onmousedown="return false"
                style="user-drag: none;"
                />
            </section>
            <section id="disclaimer">
                <p>THIS IS NO MEDICAL ADVICE! USE FOR FUN & WHEN OUT OF IDEAS ON WHAT TO COOK.</p>
            </section>
        </header>
        <main>
            <section id="reels">
                <section id="reel-1" class="reel">
                    <section class="slot">
                        <h5>VITAMIN B3 <br><br></h5>
                        <p>Daily dose: 14 mg <br></p>
                        <p>Needed for: normal cholesterol levels, skin</p>
                        <p>Can you have too much? No!</p>
                    </section>
                    <section class="slot">   
                        <img
                        src="{% static 'img/logo.svg' %}"
                        alt="Profile photo"
                        id="pfp"
                        class="opaque"
                        draggable="false"
                        onmousedown="return false"
                        style="user-drag: none;"
                        />
                    </section>
                    <section class="slot">
                        <h5>BASIC INFO <br><br></h5>
                        <p>Name: Maria <br></p>
                        <p>Age: 25</p>
                        <p>Sex: Female</p>
                        <p>Weight: 50kg</p>
                    </section>
                    <section class="slot">
                        <h5>VITAMIN A <br><br></h5>
                        <p>Daily dose: 700 µG <br></p>
                        <p>Needed for: eye health, white blood cells, skin</p>
                        <p>Can you have too much? Yes! Keep it under 3,000 µG.</p>
                    </section>
                    <section class="slot">
                        <h5>VITAMIN B1 <br><br></h5>
                        <p>Daily dose: 1.1 mg <br></p>
                        <p>Needed for: metabolism (needed to make ATP)</p>
                        <p>Can you have too much? No!</p>
                    </section>
                    <section class="slot">
                        <h5>VITAMIN B2 <br><br></h5>
                        <p>Daily dose: 1.1 mg <br></p>
                        <p>Needed for: metabolism, red blood cells</p>
                        <p>Can you have too much? No!</p>
                    </section>
                    <section class="slot">
                        <h5>VITAMIN B3 <br><br></h5>
                        <p>Daily dose: 14 mg <br></p>
                        <p>Needed for: normal cholesterol levels, skin</p>
                        <p>Can you have too much? No!</p>
                    </section>
                    <section class="slot">   
                        <img
                        src="{% static 'img/logo.svg' %}"
                        alt="Profile photo"
                        id="pfp"
                        class="opaque"
                        draggable="false"
                        onmousedown="return false"
                        style="user-drag: none;"
                        />
                    </section>
                    <section class="slot">
                        <h5>BASIC INFO <br><br></h5>
                        <p>Name: Maria <br></p>
                        <p>Age: 25</p>
                        <p>Sex: Female</p>
                        <p>Weight: 50kg</p>
                    </section>
                    <section class="slot">
                        <h5>VITAMIN A <br><br></h5>
                        <p>Daily dose: 700 µG <br></p>
                        <p>Needed for: eye health, white blood cells, skin</p>
                        <p>Can you have too much? Yes! Keep it under 3,000 µG.</p>
                    </section>
                    <section class="slot">
                        <h5>VITAMIN B1 <br><br></h5>
                        <p>Daily dose: 1.1 mg <br></p>
                        <p>Needed for: metabolism (needed to make ATP)</p>
                        <p>Can you have too much? No!</p>
                    </section>
                </section>
                <section id="reel-2" class="reel">
                    <section class="slot">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam esse saepe explicabo.</p>
                    </section>
                    <section class="slot">   
                        <img
                        src="{% static 'img/logo.svg' %}"
                        alt="Profile photo"
                        id="pfp"
                        class="opaque"
                        draggable="false"
                        onmousedown="return false"
                        style="user-drag: none;"
                        />
                    </section>
                    <section class="slot">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam esse saepe explicabo.</p>
                    </section>
                    <section class="slot">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam esse saepe explicabo.</p>
                    </section>
                    <section class="slot">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam esse saepe explicabo.</p>
                    </section>
                    <section class="slot">   
                        <img
                        src="{% static 'img/logo.svg' %}"
                        alt="Profile photo"
                        id="pfp"
                        class="opaque"
                        draggable="false"
                        onmousedown="return false"
                        style="user-drag: none;"
                        />
                    </section>
                    <section class="slot">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam esse saepe explicabo.</p>
                    </section>
                    <section class="slot">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam esse saepe explicabo.</p>
                    </section>
                </section>
                <section id="reel-3" class="reel">
                    <section class="slot">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam esse saepe explicabo.</p>
                    </section>
                    <section class="slot">   
                        <img
                        src="{% static 'img/logo.svg' %}"
                        alt="Profile photo"
                        id="pfp"
                        class="opaque"
                        draggable="false"
                        onmousedown="return false"
                        style="user-drag: none;"
                        />
                    </section>
                    <section class="slot">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam esse saepe explicabo.</p>
                    </section>
                    <section class="slot">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam esse saepe explicabo.</p>
                    </section>
                    <section class="slot">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam esse saepe explicabo.</p>
                    </section>
                    <section class="slot">   
                        <img
                        src="{% static 'img/logo.svg' %}"
                        alt="Profile photo"
                        id="pfp"
                        class="opaque"
                        draggable="false"
                        onmousedown="return false"
                        style="user-drag: none;"
                        />
                    </section>
                    <section class="slot">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam esse saepe explicabo.</p>
                    </section>
                    <section class="slot">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam esse saepe explicabo.</p>
                    </section>
                </section>
            </section>
            <section id="button-section">
                <button id="button">GO!</button>
            </section>
        </main>
        <footer>
        </footer>
        <script src="{% static 'js/vitaminsscript.js' %}"></script>
    </body>
</html>