/* resize responsiveness!!! 
   replace h2 with p!!!
   use em instead of px for font-size to allow users to change the size in the browser menu - or rather a combo of em and % - or vw!!!
   */

/* display: ;*/
/* flex-direction: ;*/
/* height: ;*/
/* width: ;*/
/* justify-content: ; */
/* align-items: ; */
/* max-height: ; */

:root {
    --main-bg-color: #FFFEF4;
    --main-color: #76344D;
    --main-accent-color: #B5CE34;
    --secondary-accent-color: #EF7C00;
    --font-color: #454541;
    --secondary-font-color: #FFFFFF;
    --cell-size: 20px;
}

* {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    font-size: 1vw;
    color: #454541;
}

html {
}

body {
    display: flex;
    flex-direction: column;
    /* height: ;*/
    /* width: ;*/
    /* justify-content: ; */
    /* align-items: ; */
    /* max-height: ; */
}

header {
    display: flex;
    /* flex-direction: ;*/
    height: 10%;
    /* width: ;*/
    /* justify-content: ; */
    /* align-items: ; */
    /* max-height: ; */

    background-color: #FFF;
    border-bottom: 0.1px solid whitesmoke;
}

#logo {
    /* display: ; */
    /* flex-direction: ;*/
    /* height: ;*/
    width: fit-content;
    /* justify-content: ; */
    /* align-items: ; */
    /* max-height: ; */
    padding: 4px;
    margin-left: 3%;

}

nav {
    display: flex;
    /* flex-direction: ;*/
    /* height: ;*/
    width: 80%;
    /* justify-content: ; */
    align-items: center;
    /* max-height: ; */
    
    
}

ul {
    display: flex;
    /* flex-direction: ;*/
    height: 30%;
    /* width: ;*/
    /* justify-content: ; */
    /* align-items: ; */
    /* max-height: ; */

}

li {
    /* display: ;*/
    /* flex-direction: ;*/
    /* height: ;*/
    /* width: ;*/
    /* justify-content: ; */
    /* align-items: ; */
    /* max-height: ; */

    list-style-type: none;
}

a {
    display: flex;
    /* flex-direction: ;*/
    /* height: ;*/
    /* width: ;*/
    justify-content: center;
    align-items: center;
    /* max-height: ; */

    text-decoration: none;
    color: #454541;
}

main {
    display: flex;
    flex-direction: row-reverse;
    height: 80%;
    /* width: ;*/
    /* justify-content: ; */
    /* align-items: ; */
    /* max-height: ; */
}

#cell-grid-main, #cell-grid-project-1, #cell-grid-project-2 {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    /* align-items: ; */
    /* max-height: ; */

    top: calc(50% - 245px);
    margin-right: 10%;

    transition: all .5s ease-in-out;

    z-index: 300;
    border: 35px solid #E1E1E1;
}

#cell-grid-main {
    transition: all .25s ease-in-out;
    box-shadow: 0px 0px 20px 5px #A9A9A9;
}

#cell-grid-project-1 {
    transition: all .75s ease-in-out;
}

div {
    display: flex;
    /* flex-direction: ;*/
    /* height: ;*/
    /* width: ;*/
    justify-content: center;
    /* align-items: center; */
    max-height: var(--cell-size);
}

.cell {
    display: flex;
    /* flex-direction: ;*/
    height: var(--cell-size);
    width: var(--cell-size);
    /* justify-content: ; */
    /* align-items: ; */
    /* max-height: ; */
    border: 1px solid #FFF;
}

#information {
    margin-left: 3%;
    margin-right: 3%;
    padding-right: 39%;
    overflow: scroll;

}

#information::-webkit-scrollbar {
    display: none;
}

#information {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#information > section {
    display: flex;
    flex-direction: column;
    /* height: ;*/
    justify-content: center;
    /* align-items: ; */
    /* max-height: ; */

    
}

h1 {
    font-family: 'Abhaya Libre', serif;
    font-size: 80px;
    font-weight: 800;
    height: fit-content;
}

h2 {
    font-family: 'Abhaya Libre', serif;
    font-size: 24px;
    font-weight: 800;
    height: fit-content;
}

p {
    /* display: ;*/
    /* flex-direction: ;*/
    height: fit-content;
    /* width: ;*/
    /* justify-content: ; */
    /* align-items: ; */
    /* max-height: ; */

    font-family: 'Abhaya Libre', serif;
    font-size: 18px;
    font-weight: 400;

}

footer {
    /* display: ;*/
    /* flex-direction: ;*/
    height: 10%;
    /* width: ;*/
    /* justify-content: ; */
    /* align-items: ; */
    /* max-height: ; */

}

#projects {
    padding-right: 50%;
}

.orange-cell {
    background-color: #EF7C00;
}

.white-cell {
    background-color: #FFF;
}

.purple-cell {
    background-color: #76344D;
}

.dead {
    background-color: #454541;
    transition: 0.2s ease-in background-color;
}

.alive {
    transition: 0.2s ease-in all;
}

#cell-grid-project-1 {
    z-index: 100;
}

#cell-grid-project-2 {
    z-index: 200;
}