:root,
:root.admin {
  --main-bg-color: #454541;
  --main-color: #b80000;
  --main-accent-color: #00d455;
  --secondary-accent-color: red;
  --font-color: #ffe680;
  --secondary-font-color: #ffffff;
  --cell-size: 12px;
  --clipping-left: 1073px;
  --clipping-top: 70px;
}
:root.alnatura {
  --main-bg-color: #fffef4;
  --main-color: #76344d; 
  --main-accent-color: #454541;
  --secondary-accent-color: #b5ce34;
  --font-color: #ef7c00;
  --secondary-font-color: #ffffff;
  --cell-size: 12px;
}

:root.rewedigital {
    --main-bg-color: #fffef4;
    --main-color: #00196A; 
    --main-accent-color: #FFFBDC;
    --secondary-accent-color: #066437;
    --font-color: #D2EB23;
    --secondary-font-color: #ffffff;
    --cell-size: 12px;
}

:root.klarna {
    --main-bg-color: #fffef4;
    --main-color: black; 
    --main-accent-color: #FFFBDC;
    --secondary-accent-color: #FFE6CC;
    --font-color: #FFB3C7;
    --secondary-font-color: #ffffff;
    --cell-size: 12px;
    --dead-cell-color: white;
    --first-welcome-color: black;
    --second-welcome-color: #FFB3C7;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 1vw;
  box-sizing: border-box;
  color: #454541;
}

html {
    height: 100%;
}

body {
    height: 100%;
}
  
header, footer {
    position: fixed;
    height: 75px;
    width: 100%;
    display: flex;
    background-color: white;
}

header {
    top: 0;
    border-bottom: 0.1px solid whitesmoke;
    z-index: 50;
}

#logo {
    padding-top: 2px;
    margin-left: 3%;
}

footer {
    top: calc(100% - 75px);
    border-top: 0.1px solid whitesmoke;
    z-index: 50;
}

main {
    display: flex;
    justify-content: flex-start;
    padding: 75px 0;
    height: 100%;
}

.main-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-left: 3%;
    z-index: 25;
}

.main-background h1, .main-background p {
    color: #454541;
}

.place-info {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 3%;
    background-color: grey;
    z-index: 30;
}

#place-1-info {
    clip-path: circle(50px at 1073px 70px);
}

@keyframes peek {
    0% {clip-path: circle(50px at var(--clipping-left) var(--clipping-top))}
	100% {clip-path: circle(500% at var(--clipping-left) var(--clipping-top))}
}

@keyframes close {
    0% {clip-path: circle(500% at var(--clipping-left) var(--clipping-top))}
	100% {clip-path: circle(50px at var(--clipping-left) var(--clipping-top))}
}

h1 {
    font-family: 'Abhaya Libre', serif;
    color: #454541;
    font-size: 40px;
    font-weight: 800;
    height: fit-content;
}

p {
    padding-top: 20px;
    height: fit-content;
    color: #454541;
    font-family: 'Abhaya Libre', serif;
    font-size: 18px;
    font-weight: 400;
}

#logo > img {
    height: 70px;
}

.mapouter {
    position: fixed;
    top: calc(50% - 35vh);
    left: calc(75% - 35vh);
    z-index: 100;
    text-align: right;
    height: 70vh;
    width: 70vh;
}

.gmap_canvas {
    border-radius: 1000%;
    border: 35px solid #e1e1e1;
    box-shadow: 0px 0px 20px 5px #a9a9a9;
    overflow: hidden;
    background: none !important;
    height: 70vh;
    width: 70vh;
}

#gmap_canvas {
    height: 70vh;
    width: 70vh;
}

.place {
    position: fixed;
    height: 14vh;
    width: 14vh;
    border-radius: 100%;
    border: 5px solid #e1e1e1;
    box-shadow: 0px 0px 20px 5px #a9a9a9;
    z-index: 100;
    cursor: pointer;
}

.gallery {
    display: flex;
    height: 50%;
    margin-right: 60%;
    overflow: scroll;
    margin-top: 15px;
    margin-bottom: 15px;
    z-index: 10;
}

.gallery-image {
    margin-right: 5px;
    border-radius: 7px;
}

a {
    text-decoration: none;
}

.mobile-version {
    display: none;
    height: 100%;
    width: 100%;
}

@media (max-width: 700px) or (max-height: 450px) {
    main, footer {
      display: none;
    }

    .mobile-version {
        display: block;
        height: 100vh; 
        box-sizing: border-box;
    }
    
    #header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        width: 100vw;
        border: none;
        padding: 5px;
    }

    #logo {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border: 2px solid black;
        height: 100%;
        box-sizing: border-box;
    }

    #logo_admin {
        position: unset;
        display: block;
    }

    #text {
        display: block;
        padding-top: 30vh;
        padding-bottom: 10vh;
        padding-left: 20vw;
        padding-right: 20vw;
        height: 100%;
    }

    p {
        font-family: 'Abhaya Libre', serif !important;
        font-size: 13.5px;
        text-align: justify;
        box-sizing: border-box;
        color: #454541;
        
    }
    
    .centered {
    text-align: center;
    }

    .bold {
    font-weight: bold;
    }

    #logo > img {
        height: 100%;
    }

  }

@media (max-width: 900px) {
    .gallery {
        width: 30%;
    }

    a > h1 {
        font-size: 20px;
    }

    .main-background {
        width: 25vw;
    }

    .place-info > p {
        max-width: 25%;
        font-size: 15px;
    }
}
