/* use em instead of px for font-size to allow users to change the size in the browser menu - or rather a combo of em and % - or vw!!!*/
   
:root,
:root.admin {
  --cell-size: 12px;
  --first-grid-color: red;
  --dead-cell-color: #454541;
  --welcome-first-color: red;
  --welcome-second-color: #ffe680;
  --about-me-first-color: #ffe680;
  --about-me-second-color: red;
  --projects-first-color: red;
  --projects-second-color: #ffe680;
  --projects-third-color: #b80000;
  --projects-fourth-color: #b80000;
  --contact-first-color: red;
  --negative-space-color: white;
}

:root.alnatura {
  --cell-size: 12px;
  --dead-cell-color: #454541;
  --welcome-first-color: #ef7c00;
  --welcome-second-color: #76344d;
  --about-me-first-color: #ef7c00;
  --about-me-second-color: #76344d;
  --projects-first-color: #ef7c00;
  --projects-second-color: #76344d;
  --projects-third-color: #b5ce34;
  --projects-fourth-color: #b5ce34;
  --contact-first-color: #ef7c00;
  --negative-space-color: white;
}

:root.lex {
  --cell-size: 12px;
  --dead-cell-color: #454541;
  --welcome-first-color: #1a95cd;
  --welcome-second-color: #2EF332;
  --about-me-first-color: #7cd3e6;
  --about-me-second-color: #1a95cd;
  --projects-first-color: #1a95cd;
  --projects-second-color: #7cd3e6;
  --projects-third-color: #2EF332;
  --projects-fourth-color: #2EF332;
  --contact-first-color: #1a95cd;
  --negative-space-color: white;
}

:root.rewedigital {
  --cell-size: 12px;
  --dead-cell-color: #454541;
  --welcome-first-color: #00196A;
  --welcome-second-color: #D2EB23;
  --about-me-first-color: #D2EB23;
  --about-me-second-color: #00196A;
  --projects-first-color: #00196A;
  --projects-second-color: #D2EB23;
  --projects-third-color: #066437;
  --projects-fourth-color: #066437;
  --contact-first-color: #00196A;
  --negative-space-color: white;
}

:root.klarna {
  --cell-size: 12px;
  --dead-cell-color: #454541;
  --welcome-first-color: black;
  --welcome-second-color: #FFB3C7;
  --about-me-first-color: #FFB3C7;
  --about-me-second-color: black;
  --projects-first-color: black;
  --projects-second-color: #FFB3C7;
  --projects-third-color: #C1D5FB;
  --projects-fourth-color: #C1D5FB;
  --contact-first-color: black;
  --negative-space-color: white;
}

:root.scoop {
  --cell-size: 12px;
  --dead-cell-color: #454541;
  --welcome-first-color: #005894;
  --welcome-second-color: #FFDD6B;
  --about-me-first-color: #FFDD6B;
  --about-me-second-color: #005894;
  --projects-first-color: #005894;
  --projects-second-color: #FFDD6B;
  --projects-third-color: #454541;
  --projects-fourth-color: #454541;
  --contact-first-color: #005894;
  --negative-space-color: white;
}

:root.bekalabs {
  --cell-size: 12px;
  --dead-cell-color: #454541;
  --welcome-first-color: #00aeff;
  --welcome-second-color: black;
  --about-me-first-color: black;
  --about-me-second-color: #00aeff;
  --projects-first-color: #00aeff;
  --projects-second-color: black;
  --projects-third-color: #e6e6e6;
  --projects-fourth-color: #e6e6e6;
  --contact-first-color: black;
  --negative-space-color: white;
}

* {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
  font-size: 1vw;
  color: #454541;
  scroll-behavior: smooth;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  height: 10%;
  background-color: #fff;
  border-bottom: 0.1px solid whitesmoke;
}

#logo {
  position: relative;
  display: inline;
  height: 100%;
  margin-left: 3%;
  width: fit-content;
  width: -moz-max-content;
  margin-right: 7%;
}

#logo_admin {
  width: 70px;
  position: absolute;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.logo-alternative {
  width: 70px;
  position: absolute;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

nav {
  display: flex;
  /* flex-direction: ;*/
  /* height: ;*/
  width: 80%;
  /* justify-content: ; */
  align-items: center;
  /* max-height: ; */
}

ul {
  display: flex;
  /* flex-direction: ;*/
  height: 30%;
  /* width: ;*/
  /* justify-content: ; */
  /* align-items: ; */
  /* max-height: ; */
}

li {
  /* display: ;*/
  /* flex-direction: ;*/
  /* height: ;*/
  /* width: ;*/
  /* justify-content: ; */
  /* align-items: ; */
  /* max-height: ; */

  list-style-type: none;
}

a {
  display: flex;
  /* flex-direction: ;*/
  /* height: ;*/
  /* width: ;*/
  justify-content: center;
  align-items: center;
  /* max-height: ; */

  text-decoration: none;
  color: #454541;
}

main {
  display: flex;
  flex-direction: row-reverse;
  height: 80%;
  /* width: ;*/
  /* justify-content: ; */
  /* align-items: ; */
  /* max-height: ; */
}

.mobile-version {
  display: none;
  height: 100%;
  width: 100%;
}

#flip-card {
  position: fixed;
  height: 322px;
  width: 322px;
  transition: all 0.5s ease-in-out;
  z-index: 300;
  top: calc(50% - 161px);
  perspective: 1000px;
  margin-right: 10%;
}

#portrait {
  position: fixed;
  height: 322px;
  width: 322px;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  border: 35px solid #e1e1e1;
  box-shadow: 0px 0px 20px 5px #a9a9a9;
}

#flip-card-inner {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: none;
}

.flippable:hover #flip-card-inner {
  transform: rotateY(180deg);
}

#cell-grid-project-1,
#cell-grid-project-2 {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  height: -moz-max-content;
  width: -moz-max-content;
  justify-content: center;
  /* align-items: ; */
  /* max-height: ; */

  top: calc(50% - 161px);

  transition: all 0.5s ease-in-out;

  z-index: 300;
  border: 35px solid #e1e1e1;
}

#cell-grid-main {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  height: -moz-max-content;
  width: -moz-max-content;
  justify-content: center;
  border: 35px solid #e1e1e1;
  z-index: 300;

  transition: all 0.25s ease-in-out;
  box-shadow: 0px 0px 20px 5px #a9a9a9;
  backface-visibility: hidden;
}

#cell-grid-project-1 {
  transition: all 0.75s ease-in-out;
  margin-right: 10%;
}

#cell-grid-project-2 {
  margin-right: 10%;
}

div {
  display: flex;
  /* flex-direction: ;*/
  /* height: ;*/
  /* width: ;*/
  justify-content: center;
  /* align-items: center; */
  max-height: var(--cell-size);
}

.cell {
  display: flex;
  /* flex-direction: ;*/
  height: var(--cell-size);
  width: var(--cell-size);
  /* justify-content: ; */
  /* align-items: ; */
  /* max-height: ; */
  border: 1px solid #fff;
}

#information {
  margin-left: 3%;
  margin-right: 3%;
  padding-right: 38%;
  overflow: scroll;
}


#information::-webkit-scrollbar {
  display: none;
}

#information {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#information > section {
  display: flex;
  flex-direction: column;
  /* height: ;*/
  justify-content: center;
  /* align-items: ; */
  /* max-height: ; */
}

h1 {
  font-family: 'Abhaya Libre', serif;
  font-size: 80px;
  font-weight: 800;
  height: fit-content;
  height: -moz-max-content;
}

h2 {
  font-family: 'Abhaya Libre', serif;
  font-size: 24px;
  font-weight: 800;
  height: fit-content;
  height: -moz-max-content;
}

p {
  /* display: ;*/
  /* flex-direction: ;*/
  height: fit-content;
  height: -moz-max-content;
  /* width: ;*/
  /* justify-content: ; */
  /* align-items: ; */
  /* max-height: ; */

  font-family: 'Abhaya Libre', serif;
  font-size: 18px;
  font-weight: 400;
}

u {
  font-family: 'Abhaya Libre', serif;
  font-size: 18px;
  font-weight: 400;
  
}

footer {
  /* display: ;*/
  /* flex-direction: ;*/
  height: 10%;
  /* width: ;*/
  /* justify-content: ; */
  /* align-items: ; */
  /* max-height: ; */
}

#projects {
  padding-right: 45%;
}

.negative-space-color {
  background-color: var(--negative-space-color);
}

.welcome-first-color {
  background-color: var(--welcome-first-color);
}

.welcome-second-color {
  background-color: var(--welcome-second-color);
}

.about-me-first-color {
  background-color: var(--about-me-first-color);
}

.about-me-second-color {
  background-color: var(--about-me-second-color);
}

.projects-first-color {
  background-color: var(--projects-first-color);
}

.projects-second-color {
  background-color: var(--projects-second-color);
}

.projects-third-color {
  background-color: var(--projects-third-color);
}

.projects-fourth-color {
  background-color: var(--projects-fourth-color);
}

.contact-first-color {
  background-color: var(--contact-first-color);
}

.dead {
  background-color: var(--dead-cell-color);
  transition: 0.5s ease-in background-color;
}

.alive {
  transition: 0.5s ease-in all;
}

#cell-grid-project-1 {
  z-index: 100;
}

#cell-grid-project-2 {
  z-index: 200;
}

#mock-form,
#login-form {
  display: flex;
  flex-direction: column;
  width: 24%;
  margin-top: 15px;
  height: fit-content;
  height: -moz-max-content;
  
  visibility: visible;
  opacity: 1;
  max-height: 1000px;
  
  transition: all 0.6s ease;
}

#mock-form {
  margin: 0;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 82%;
  height: 50%;
  margin-top: 15px;
}

input, .technology, #message {
  border: none;
  background-color: #e1e1e1;
  border-bottom: 2px solid black;
  border-radius: 5px;
  color: black;
  padding-left: 7%;
  padding-right: 7%;
  margin-bottom: 4px;
  height: 20px;
  width: 200px;
}

#contact-form input {
  height: 20px;
  margin-bottom: 5px;
  padding-left: 2%;
  font-weight: 600;
  width: 600px;
}

#message {
  padding-left: 2%;
  min-height: 200px;
  font-weight: 600;
  width: 600px;
}

input:focus {
  outline-width: 0;
}
 
#submit-button,
#contact-submit-button {
  background-color: #454541;
  color: #fff;
  width: fit-content;
  width: -moz-max-content;
}

#hidden-button {
  display: none;
}

#projects-list {
  margin-top: 30px;
  height: 24%;
  width: 100%;
}

.project-name {
  border: none;
  border-bottom: 2px solid black;
  border-radius: 5px;
  padding-left: 3%;
  padding-right: 7%;
  background-color: #454541;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
  font-size: 1vw;
  height: -moz-max-content;
}

#contact-submit-button {
  width: 100%;
}

.project-description {
  flex-direction: column;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  
  transition: all 0.6s ease;
}

.project {
  height: fit-content;
  height: -moz-max-content;
  padding-bottom: 20px;
}

.technology {
  display: inline;
  width: fit-content;
  width: -moz-max-content;
  margin: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

.project {
  cursor: pointer;
}

#conway {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

.progress {
  display: inline;
  margin-left: 10px;
}

.progress-full, .progress-empty {
  display: inline;
  border-radius: 100%;
  margin-left: 15px;
  padding-left: 20px;
  border-bottom: 1px solid black;
  background-color: #454541;
}

.progress-full {
  background-color: #e1e1e1;
}

#contact-submit-button {
  cursor: pointer;
}

#click-arrow {
  all: unset;
  position: absolute;
  top: 33000%;
  left: 100%;
  height: 10000%;
}

#click-arrow-div {
  position: relative;
  height: 1px;
  width: 100%;
}

@media (max-width: 700px) or (max-height: 450px) {
  * {
    all: unset;
    display: none;
    
  }

  main {
    all: unset;
    display: none;
  }

  nav {
    all: unset;
  }

  #header {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100vw;

  }

  #logo {
    all: unset;
    display: block;
    height: 80%;
    padding: 5px;
    border: 2px solid black;
  }

  #logo_admin {
    position: unset;
    width: unset;
    display: block;
    height: 100%;
  }

  .mobile-version {
    display: block;
    height: 100%;
    
    box-sizing: border-box;
  }

  #text {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 20vw;
    padding-right: 20vw;
  }

  p {
    all: unset;
    font-family: 'Abhaya Libre', serif !important;
    font-size: 1.3em;
    
    text-align: justify;
    padding-bottom: 3vh;
    box-sizing: border-box;
    color: #454541;
    
  }

  .centered {
    text-align: center;
  }

  .bold {
    font-weight: bold;
  }

  br {
    display: block;
  }
}

@media (max-height: 673px) {
  #click-arrow {
    display: none;
  }
} 

@media (max-width: 1275px) {
  #conway { 
    font-size: 13.5px;
  }
  #information {
    padding-right: 50%;
  }
  .section {
    height: 100%;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 13.5px;
  }

  nav > ul > li > a {
    font-size: 16px;
  }

  #flip-card {
    left: calc(95% - 322px);
  }
  #cell-grid-project-1 {
    left: calc(85% - 322px);
  }
  #cell-grid-project-2 {
    left: calc(75% - 322px);
  }

  input {
    width: 125px;
  }

  #contact-form input {
    min-height: 20px;
  }


  #contact-form input, #message {
    width: 40vw;
  }

  #submit-button {
    width: 62.5px;
  }

  .bold, u {
    font-size: 14px !important;
  }

  u {
    font-size: 12px !important;
  }

  .project-name {
    height: 20px;
  }

  .hidden {
    display: none;
  }
  #flip-card, #cell-grid-main, #flip-card-inner, #portrait, #cell-grid-project1, #cell-grid-project-2 {
    left: 'calc(95% - 322px)';
  }

  .visible {
    font-family: 'Abhaya Libre', serif !important;
    font-size: 13.5px;
  }
}

.hidden {
  font-family: unset;
  font-family: 'Abhaya Libre', serif !important;
  font-size: 18px;
}

.visible {
  display: none;
}


.bold {
  font-family: 'Abhaya Libre', serif !important;
  font-size: 18px;
  font-weight: bold;
}

#flip-card, #cell-grid-main, #flip-card-inner, #portrait, #cell-grid-project1, #cell-grid-project-2 {
  left: 'calc(95% - 322px)';
}