:root,
:root.admin {
  --main-bg-color: #454541;
  --main-color: #b80000;
  --main-accent-color: #00d455;
  --secondary-accent-color: red;
  --font-color: #ffe680;
  --secondary-font-color: #ffffff;
  --cell-size: 12px;
  --last-color: #454541;
}
:root.alnatura {
  --main-bg-color: #fffef4;
  --main-color: #76344d; 
  --main-accent-color: #ffe680;
  --secondary-accent-color: #b5ce34;
  --font-color: #ef7c00;
  --secondary-font-color: #ffffff;
  --cell-size: 12px;
  --last-color: #454541;
}

:root.lex {
  --main-bg-color: #fffef4;
  --main-color: #1a95cd; 
  --main-accent-color: #FFDB00;
  --secondary-accent-color: #7cd3e6;
  --font-color: #2EF332;
  --secondary-font-color: #ffffff;
  --cell-size: 12px;
  --last-color: #454541;
}

:root.rewedigital {
  --main-bg-color: #fffef4;
  --main-color: #00196A; 
  --main-accent-color: #FFFBDC;
  --secondary-accent-color: #066437;
  --font-color: #D2EB23;
  --secondary-font-color: #ffffff;
  --cell-size: 12px;
  --last-color: #454541;
}

:root.klarna {
  --main-bg-color: #fffef4;
  --main-color: black; 
  --main-accent-color: #FFE6CC;
  --secondary-accent-color: #E8D6FE;
  --font-color: #FFB3C7;
  --secondary-font-color: #ffffff;
  --cell-size: 12px;
  --dead-cell-color: white;
  --first-welcome-color: black;
  --second-welcome-color: #FFB3C7;
  --last-color: #C1D5FB;
}

:root.scoop {
  --main-bg-color: #fffef4;
  --main-color: #005894; 
  --main-accent-color: #37c871;
  --secondary-accent-color: #FA7921;
  --font-color: #FFDD6B;
  --secondary-font-color: #ffffff;
  --cell-size: 12px;
  --dead-cell-color: #454541;
  --welcome-first-color: #005894;
  --welcome-second-color: #FFDD6B;
  --about-me-first-color: #FFDD6B;
  --about-me-second-color: #005894;
  --projects-first-color: #005894;
  --projects-second-color: #FFDD6B;
  --projects-third-color: #454541;
  --projects-fourth-color: #454541;
  --contact-first-color: #005894;
  --negative-space-color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 1vw;
  box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  

header {
    position: fixed;
    display: flex;
    width: 100%;
    min-height: 75px;
    padding-top: 1.8px;
    padding-bottom: 4px;
  }

main {
    display: flex;
    margin-top: 75px;
    margin-bottom: 50px;
    height: calc(100% - 125px);
    width: 100%;
    background-color: silver;
}


#logo {
    position: relative;
    width: 70px;
    margin-left: 3%;
}

#logo > img {
    height: 70px;
}

#logo_classic, #logo_alnatura {
    position: absolute;
}

#logo_alnatura {
    opacity: 0;
}

footer {
    position: fixed;
    top: calc(100% - 50px);
    height: 50px;
    width: 100%;
    background-color: silver;
}

.nav{
  width: 100%;
  height: 50px;
  position: fixed;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: silver;
  padding-left: calc(3% - 12.5px);
  padding-right: 50px;
}

#color-picker {
  border-radius: 100%;
}

.clr, #info {
  height: 30px;
  width: 30px;
  background-color: blue;
  border-radius: 100%;
  border: 3px solid rgb(214, 214, 214);
  transition: transform .5s;
  cursor: pointer;
}
.clr:hover{
  transform: scale(1.2);
}
.clr:nth-child(2){
  background-color: var(--main-color);
}
.clr:nth-child(3){
  background-color: var(--font-color);
}
.clr:nth-child(4){
  background-color: var(--main-accent-color);
}
.clr:nth-child(5){
  background-color: var(--secondary-accent-color);
}
.clr:nth-child(6){
  background-color: var(--last-color);
}

#info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 3px solid var(--secondary-accent-color);
}

#info > p {
  font-family: 'Abhaya Libre', serif;
  font-size: 20px;
  font-weight: 600;
}

button{
  background-color: #e1e1e1;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 5px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  height: 40px;
  width: 20vw;
  font-size: 13.5px;
  cursor: pointer;
}

form {
  margin: 5px;
  height: 100%;
  width: 20%;
}

#input-date {
  margin: 5px;
  width: 100%;
  height: 80%;
  font-size: 13.5px;
}

canvas {
  z-index: 75;
  margin-top: 50px;
  width: calc(94% - 70px);
  height: calc(100% - 50px);
  background-color: white;
  border: 1px solid silver;
  border-radius: 4px;
}

svg {
  position: fixed;
  margin-top: 50px;
  margin-left: calc(3% + 70px);
  width: calc(94% - 140px);
  height: calc(100% - 200px);
  z-index: 150;
}

.highlighted, .highlighted-unmodifiable {
  opacity: 1;
}

.unhighlighted {
  opacity: 0.5;
}

#X-button, #save-button {
  top: 0;
  position: fixed;
  margin: 5px;
  width: 75px;
  z-index: 1200;
}

#save-button {
  visibility: hidden;
  z-index: 1400;
}

#date-shower {
  top: 20%;
  width: 150px;
  height: 40px;
  position: fixed;
  background-color: #e1e1e1;
  padding: 0;
  z-index: 250;
  visibility: hidden;
}

#association-files, #association-videos, #edit-files, #edit-videos {
  height: 30%;
}

#toolkit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: calc(3% - 2.5px);
  width: 75px;
  border: 0.1px solid whitesmoke;
  background-color: white;
  z-index: 10000;
  margin-top: 50px;
  border-radius: 5px;
}

.clr-faded {
  opacity: 0.5;
  cursor: auto;
}

.clr-faded:hover {
  transform: none;
}

#color {
  display: none;

}
#color-picker {
  border-radius: 100%;
  width: 30px;
  height: 30px; 
  border: 3px solid rgb(214, 214, 214);
  background: radial-gradient(red, #ffe680, #00d455, lightblue, purple);
}

.clicked {
  color: white;
  background-color: #454541;
  border: none;
  border-top: 1px solid black;
}

#info-section, #association-shower, #edit-associations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 125px;
  left: 120px;
  background-color: white;
  width: calc(94% - 70px);
  height: calc(100% - 175px);
  z-index: 10000;
  border-radius: 5px;
}

#info-section > p, #association-shower > p {
  padding: 100px;
  font-weight: 500;
}

#association-shower, #edit-associations {
  visibility: hidden;
}

.hidden {
  visibility: hidden;
}

#info-section-X-button, #association-X-button, #edit-X-button {
  background-color: #454541;
  color: white;
}

#association-content, #edit-content {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 20px;
}

#association-text, #association-media, #edit-text, #edit-media  {
  width: 50%;
  height: 100%;
}

#association-files, #association-videos, #edit-files, #edit-videos {
  height: 50%;
}

#association-shower > h3, #edit-associations > h3 {
  padding: 20px;
  font-size: 24px;
}

#text {
  padding-top: 30px;
  font-size: 13.5px;
}

#files, #videos {
  overflow-x: scroll;
  display: flex;
}

#image {
  max-height: 13.5vh;
  border-radius: 5px;
  margin-right: 5px;
}

#video {
  max-width: 13.5vw;
  border-radius: 5px;
}

#edit-textarea {
  height: 100%;
  width: 90%;
}

#edit-image, #edit-video {
  width: 100%;
  overflow-x: scroll;
}

.two-buttons {
  display: flex;
}

#association-text {
  padding-right: 2vw;
}

input, textarea {
  font-size: 13.5px;
}

.mobile-version {
  display: none;
  height: 100%;
  width: 100%;
}

.bolder-p {
  font-family: 'Abhaya Libre', serif !important;
  font-size: 13.5px;
  text-align: justify;
  box-sizing: border-box;
  color: #454541;
}

.bold {
  font-family: 'Abhaya Libre', serif !important;
  font-size: 13.5px;
  text-align: justify;
  box-sizing: border-box;
  color: #454541;
  font-weight: bold;
}

@media (max-width: 700px) or (max-height: 450px) {
  main, footer {
    display: none;
  }

  .mobile-version {
      display: block;
      height: 100vh; 
      box-sizing: border-box;
  }
  
  header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20vh;
      width: 100vw;
      border: none;
      padding: 5px;
  }

  #logo {
      all: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border: 2px solid black;
      height: 100%;
      box-sizing: border-box;
  }

  #logo_admin {
      position: unset;
      display: block;
  }

  #text {
      display: block;
      padding-top: 30vh;
      padding-bottom: 10vh;
      padding-left: 20vw;
      padding-right: 20vw;
      height: 100%;
  }

  p {
      font-family: 'Abhaya Libre', serif !important;
      font-size: 13.5px;
      text-align: justify;
      box-sizing: border-box;
      color: #454541;
      padding-bottom: 3vh;
      
  }
  
  .centered {
  text-align: center;
  }

  .bold {
  font-weight: bold;
  }

  #logo > img {
      height: 100%;
  }

}
