:root,
:root.classic {
  --main-bg-color: #454541;
  --main-color: #b80000;
  --main-accent-color: #00d455;
  --secondary-accent-color: red;
  --font-color: #ffe680;
  --secondary-font-color: #ffffff;
  --cell-size: 12px;
}
:root.alnatura {
  --main-bg-color: #fffef4;
  --main-color: #76344d; 
  --main-accent-color: #454541;
  --secondary-accent-color: #b5ce34;
  --font-color: #ef7c00;
  --secondary-font-color: #ffffff;
  --cell-size: 12px;
}

:root.rewedigital {
  --main-bg-color: #fffef4;
  --main-color: #00196A; 
  --main-accent-color: #FFFBDC;
  --secondary-accent-color: #066437;
  --font-color: #D2EB23;
  --secondary-font-color: #ffffff;
  --cell-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 1vw;
  box-sizing: border-box;
  color: #454541;
}

html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* width: ;*/
    /* justify-content: ; */
    /* align-items: ; */
    /* max-height: ; */
  }
  

header {
    display: flex;
    min-height: 75px;
    /* flex-direction: ;*/
    /* width: ;*/
    /* justify-content: ; */
    /* align-items: ; */
    /* max-height: ; */
    padding-top: 1.8px;
    padding-bottom: 4px;
    background-color: #fff;
    border-bottom: 0.1px solid whitesmoke;
  }

main {
    min-height: 450px;
}

footer {
    min-height: 75px;
    border-top: 0.1px solid whitesmoke;
  }

#logo {
    position: relative;
    width: 70px;
    margin-left: 3%;
}

#logo > img {
    height: 70px;
}

#logo_classic, #logo_alnatura2 {
    position: absolute;
}

#disclaimer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

#logo_alnatura2 {
    opacity: 0;
}

#reels {
    margin-left: calc(6% + 70px);
    margin-right: calc(6% + 70px);
    display: flex;
    height: 100%;
}

.reel {
    background-color: whitesmoke;
    border-left: 35px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    min-width: 31%;
}

.reel::-webkit-scrollbar {
    display: none;
  }

#reel-3 {
    border-right: 35px solid white;
}

#pfp {
    width: 140px;
}

.slot {
    border-bottom: 3px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    min-height: 33.33%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.spinning {
    overflow: hidden;
    animation: slide 20s linear infinite;
}

@keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, -400%, 0);
    }
}

#button {
    position: fixed;
    top: 85%;
    left: calc(50% - 37.5px);
    height: 75px;
    width: 75px;
    border-radius: 100px;
    background-color: #454541;
    color: #fff;
    border: none;
    cursor: pointer;
}

.mobile-version {
  display: none;
  height: 100%;
  width: 100%;
}

@media (max-width: 700px) or (max-height: 450px) {
  main, footer {
    display: none;
  }

  .mobile-version {
      display: block;
      height: 100vh; 
      box-sizing: border-box;
  }
  
  header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20vh;
      width: 100vw;
      border: none;
      padding: 5px;
  }

  #logo {
      all: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border: 2px solid black;
      height: 100%;
      box-sizing: border-box;
  }

  #logo_classic {
      position: unset;
      display: block;
  }

  #text {
      display: block;
      padding-top: 10vh;
      padding-bottom: 10vh;
      padding-left: 20vw;
      padding-right: 20vw;
      height: 100%;
  }

  p {
      font-family: 'Abhaya Libre', serif !important;
      font-size: 13.5px;
      text-align: justify;
      box-sizing: border-box;
      color: #454541;
      padding-bottom: 3vh;
      
  }
  
  .centered {
  text-align: center;
  }

  .bold {
  font-weight: bold;
  }

  #logo > img {
      height: 100%;
  }

  #disclaimer {
    display: none;
  }

}