<!DOCTYPE html>
<html>
    <head lang="en">
        {% load static %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dilara Sarach: Symbols</title>
        <link rel="icon" href="{% static 'img/logo.svg' %}" />
        <link rel="stylesheet" href="{% static 'css/symbolsstyle.css'%}"/>
        <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;800&family=Signika&family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <section id="logo">
                <img
                {% if username == 'alnatura' %}
                    src="{% static 'img/logo_alnatura2.svg' %}"
                {% else  %}
                    src="{% static 'img/logo.svg' %}"
                {% endif %}
                alt="Logo"
                id="logo_classic"
                class="opaque"
                draggable="false"
                onmousedown="return false"
                style="user-drag: none;"
                />
            </section>
        </header>
        <main id="main">
            <div class="nav">
                <!-- We will be accessing the data-clr in JavaScript -->
                <div class="clr" data-clr="#000"></div>
                <div class="clr" data-clr="#EF626C"></div>
                <div class="clr" data-clr="#fdec03"></div>
                <div class="clr" data-clr="#24d102"></div>
                <div class="clr" data-clr="#fff"></div>
                <button class="drawing-mode">drawing mode</button>
                <button class="save">save</button>
            </div>
            
            <canvas id="canvas" width="3000" height="3000" data-url="/app/update/">
            </canvas>
                <svg class="svg" height="210" width="400"> 
                {% for key,value in entries.items %}
                    {% for path in value %}
                    <path d="M{{ path.0 }} {{ path.1 }} {{ path.2 }} {{ path.3 }}" style="fill:#000;stroke:#000;stroke-width:5" class="svg-path" date={{ key|date:'Y-m-d' }} onmouseover="highlightEntry(this)" onmouseout="unhighlightEntry(this)"/>
                    {% endfor %}
                {% endfor %}
                </svg>
        </main>
        <footer>
        </footer>
        <script src="{% static 'js/symbolsscript.js' %}"></script>
    </body>
</html>