:root,
:root.classic {
  --main-bg-color: #454541;
  --main-color: #b80000;
  --main-accent-color: #00d455;
  --secondary-accent-color: red;
  --font-color: #ffe680;
  --secondary-font-color: #ffffff;
  --cell-size: 12px;
}
:root.alnatura {
  --main-bg-color: #fffef4;
  --main-color: #76344d; 
  --main-accent-color: #454541;
  --secondary-accent-color: #b5ce34;
  --font-color: #ef7c00;
  --secondary-font-color: #ffffff;
  --cell-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 1vw;
  box-sizing: border-box;
  color: #454541;
}

html {
    height: 100%;
}

body {
    height: 100%;
}
  
header, footer {
    position: fixed;
    height: 75px;
    width: 100%;
    display: flex;
}

header {
    top: 0;
    border-bottom: 0.1px solid whitesmoke;
}

#logo {
    padding-top: 2px;
    margin-left: 3%;
}

footer {
    top: calc(100% - 75px);
    border-top: 0.1px solid whitesmoke;
    z-index: 50;
}

main {
    display: flex;
    justify-content: flex-start;
    padding: 75px 0;
    height: 100%;
}

.main-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 3%;
    clip-path: circle(50%);
}

h1 {
    font-family: 'Abhaya Libre', serif;
    font-size: 40px;
    font-weight: 800;
    height: fit-content;
}

p {
    padding-top: 20px;
    height: fit-content;
  
    font-family: 'Abhaya Libre', serif;
    font-size: 18px;
    font-weight: 400;
}

#logo > img {
    height: 70px;
}

.mapouter {
    position: fixed;
    top: calc(50% - 250px);
    left: 65%;
}

.gmap_canvas {
    border-radius: 1000%;
    border: 35px solid #e1e1e1;
    box-shadow: 0px 0px 20px 5px #a9a9a9;
}

.place {
    position: fixed;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid #e1e1e1;
    box-shadow: 0px 0px 20px 5px #a9a9a9;
    z-index: 100;
    cursor: pointer;
}
