:root,
:root.classic {
  --main-bg-color: #454541;
  --main-color: #b80000;
  --main-accent-color: #00d455;
  --secondary-accent-color: red;
  --font-color: #ffe680;
  --secondary-font-color: #ffffff;
  --cell-size: 12px;
}
:root.alnatura {
  --main-bg-color: #fffef4;
  --main-color: #76344d; 
  --main-accent-color: #454541;
  --secondary-accent-color: #b5ce34;
  --font-color: #ef7c00;
  --secondary-font-color: #ffffff;
  --cell-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Source Code Pro', monospace;
  font-size: 1vw;
  box-sizing: border-box;
  color: #454541;
}

html {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    /* width: ;*/
    /* justify-content: ; */
    /* align-items: ; */
    /* max-height: ; */
  }
  

header {
    display: flex;
    min-height: 75px;
    /* flex-direction: ;*/
    /* width: ;*/
    /* justify-content: ; */
    /* align-items: ; */
    /* max-height: ; */
    padding-top: 1.8px;
    padding-bottom: 4px;
    background-color: #fff;
    border-bottom: 0.1px solid whitesmoke;
  }

main {
  width: 100%;
  height: calc(100% - 150px);
  background-color: #76344d;
}


#logo {
    position: relative;
    width: 70px;
    margin-left: 3%;
}

#logo > img {
    height: 70px;
}

#logo_classic, #logo_alnatura2 {
    position: absolute;
}

#logo_alnatura2 {
    opacity: 0;
}

footer {
    max-height: 75px;
    min-height: 75px;
    border-top: 0.1px solid whitesmoke;
    background-color: #00d455;
}

.nav{
  width: 100%;
  height: 50px;
  position: fixed;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: .3;
  transition: opacity .5s;
  z-index: 1000;
}
.nav:hover{
  opacity: 1;
}

.clr {
  height: 30px;
  width: 30px;
  background-color: blue;
  border-radius: 100%;
  border: 3px solid rgb(214, 214, 214);
  transition: transform .5s;
}
.clr:hover{
  transform: scale(1.2);
}
.clr:nth-child(1){
  background-color: #000;
}
.clr:nth-child(2){
  background-color: #EF626C;
}
.clr:nth-child(3){
  background-color: #fdec03;
}
.clr:nth-child(4){
  background-color: #24d102;
}
.clr:nth-child(5){
  background-color: #fff;
}

button{
  width: 150px;
  border: none;
  outline: none;
  padding: .6em 1em;
  border-radius: 3px;
  background-color: #03bb56;
  color: #fff;
}
.save{
  background-color: #0f65d4;
}

canvas {
  width: 100%;
  height: 100%;
  z-index: 75;
}

svg {
  position: fixed;
  top: 75px;
  left: 75px;
  z-index: 150;
}

h1 {
  position: fixed;
  z-index: 100;
  color: #000;
}

.svg-path {
  opacity: 0.5;
}

.highlighted {
  opacity: 1;
}


