:root,
:root.classic {
  --main-bg-color: #454541;
  --main-color: #b80000;
  --main-accent-color: #00d455;
  --secondary-accent-color: red;
  --font-color: #ffe680;
  --secondary-font-color: #ffffff;
  --cell-size: 12px;
}
:root.alnatura {
  --main-bg-color: #fffef4;
  --main-color: #76344d; 
  --main-accent-color: #454541;
  --secondary-accent-color: #b5ce34;
  --font-color: #ef7c00;
  --secondary-font-color: #ffffff;
  --cell-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 1vw;
  box-sizing: border-box;
  color: #454541;
}

html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  

header {
    position: fixed;
    display: flex;
    width: 100%;
    min-height: 75px;
    padding-top: 1.8px;
    padding-bottom: 4px;
    background-color: #EF626C;
    border-bottom: 0.1px solid whitesmoke;
  }

main {
    display: flex;
    margin-top: 75px;
    margin-bottom: 75px;
    height: calc(100% - 150px);
    width: 100%;
    background-color: #b5ce34;
}


#logo {
    position: relative;
    width: 70px;
    margin-left: 3%;
}

#logo > img {
    height: 70px;
}

#logo_classic, #logo_alnatura2 {
    position: absolute;
}

#logo_alnatura2 {
    opacity: 0;
}

footer {
    position: fixed;
    top: calc(100% - 75px);
    height: 75px;
    width: 100%;
    border-top: 0.1px solid whitesmoke;
    background-color: firebrick;
}

.nav{
  width: 100%;
  height: 50px;
  position: fixed;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: #76344d;
}

.clr {
  height: 30px;
  width: 30px;
  background-color: blue;
  border-radius: 100%;
  border: 3px solid rgb(214, 214, 214);
  transition: transform .5s;
  cursor: pointer;
}
.clr:hover{
  transform: scale(1.2);
}
.clr:nth-child(1){
  background-color: #000;
}
.clr:nth-child(2){
  background-color: #EF626C;
}
.clr:nth-child(3){
  background-color: #fdec03;
}
.clr:nth-child(4){
  background-color: #24d102;
}
.clr:nth-child(5){
  background-color: #fff;
}

button{
  width: fit-content;
  border: none;
  outline: none;
  padding: .6em 1em;
  border-radius: 3px;
  background-color: grey;
  color: #fff;
  margin: 5px;
  cursor: pointer;
}

form {
  width: 20%;
}

canvas {
  z-index: 75;
  margin-right: calc(3% + 70px);
  width: calc(94% - 140px);
  background-color: white;
}

svg {
  position: fixed;
  margin-top: 50px;
  margin-left: calc(3% + 70px);
  width: calc(94% - 140px);
  height: calc(100% - 200px);
  z-index: 150;
  background-color: #00d455;
}

.highlighted, .highlighted-unmodifiable {
  opacity: 1;
}

.unhighlighted {
  opacity: 0.5;
}

#X-button, #save-button {
  width: 5%;
}

#save-button {
  visibility: hidden;
}

#date-shower {
  top: 20%;
  width: 150px;
  height: 40px;
  position: fixed;
  background-color: grey;
  padding: 0;
  z-index: 250;
  visibility: hidden;
}

#association-shower {
  position: fixed;
  background-color: lightgrey;
  width: 20%;
  height: 70%;
  left: 40%;
  top: 18%;
  opacity: 1;
  z-index: 200;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  visibility: hidden;
}

#association-top {
  height: 10%;
  display: flex;
}

#association-X-button {
  height: 30px;
  width: 30px;
  padding: 0;
  background-color: red;
}

#association-files, #association-videos, #association-text {
  height: 30%;
}

#toolkit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 3%;
  width: 70px;
  border: 0.1px solid whitesmoke;
  background-color: #ffe680;
  z-index: 10000;
}

